:root {
  --color-brand--1: #ffb545;
  --color-brand--2: #00c46a;

  --color-dark--1: #2d3439;
  --color-dark--2: #42484d;
  --color-dark--3: #868e96;
  --color-light--1: #aaa;
  --color-light--2: #ececec;
  --color-light--3: rgb(214, 222, 224);
  --color-red-1: #f03e3e;
  --color-green-1: #51cf66;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Manrope', sans-serif;
  color: var(--color-light--2);
  font-weight: 400;
  line-height: 1.6;
  height: 100vh;
  overscroll-behavior-y: none;
  background-color: #fff;
  padding: 2.5rem;

  display: flex;
}

/* GENERAL */
a:link,
a:visited {
  color: var(--color-brand--1);
}

/* SIDEBAR */
.sidebar {
  flex-basis: 50rem;
  background-color: var(--color-dark--1);
  padding: 3rem 5rem 4rem 5rem;
  display: flex;
  flex-direction: column;

}
.delete-approvement {
  display: none;
  width: 50rem;
  height: 100%;
  background-color: var(--color-dark--1);
  padding: 3rem 5rem 4rem 5rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;

}
.delete__title {
  font-size: 3rem;
  text-align: center;
  line-height: 1.4;
}
.buttons {
  display: flex;
  gap: 2rem;
}
.delete,
.reject {
  font-family: 'Manrope', sans-serif;
  font-weight: 600;
  font-size: 1.6rem;
  width: 10rem;
  height: 4rem;
  background-color: var(--color-light--2);
  border: none;
  border-radius: 4px;
  transition: all 0.3s;
  cursor: pointer;
}
.delete:hover {
  background-color: var(--color-red-1);
}
.reject:hover {
  background-color: var(--color-light--1);
}
.logo {
  height: 5.2rem;
  align-self: center;
  margin-bottom: 4rem;
}

.workouts {
  list-style: none;
  height: 77vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.workouts::-webkit-scrollbar {
  width: 0;
}

.workout {
  background-color: var(--color-dark--2);
  border-radius: 5px;
  padding: 1.5rem 2.25rem;
  margin-bottom: 1.75rem;
  transition: all 0.3s;
  max-height: 9.269rem;
  overflow: hidden;
}
.workout__content{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 0.75rem 1.5rem;
}

.workout-redact__field{
  display: none;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 0.75rem 1.5rem;
}

.workout--running {
  border-left: 5px solid var(--color-brand--2);
}
.workout--cycling {
  border-left: 5px solid var(--color-brand--1);
}
.options__field {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.delete-all__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
  font-family: 'Manrope', sans-serif;
  color: var(--color-light--2);
  font-size: 1.4rem;
  border: none;
  background: none;
  cursor: pointer;
  height: 2.5rem;
  width: 10rem;
  border-radius: 4px;
  transition: 0.3s all;
}
.sort-select__field{
  display: flex;
  gap: 1rem
}
.sort__title{
  font-size: 1.4rem;
}
.sort-select{
  border: none;
  background-color: var(--color-dark--2);
  color: var(--color-light--2);
  border-radius: 4px;
  font-size: 1.4rem;
}
.sort-select:focus{
  outline: none;
  box-shadow: 0 0 0 4px var(--color-light--2);
}
.form-details{
  display: flex;
  align-items: center;
  justify-content: center;
}

.redact-label{
  font-size: 1.8rem;
  margin-right:0.2rem ;
}

.redact-input{
  font-size: 1.4rem;
  color: var(--color-light--2);
  max-width: 5rem;
  background-color: var(--color-dark--1);
  border-radius: 5px;
  padding: 0.5rem 0.5rem;
  border: none;
  transition: all 0.3s;
}
.redact-input:focus{
  outline: none;
  background-color: var(--color-dark--3);
}
.redact-input:focus::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--color-light--3);
  opacity: 1; /* Firefox */
}

.redact-input:focus:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: var(--color-light--3);
}
.delete-all__btn:hover {
  background-color: var(--color-dark--2);
}
.delete-all__btn:active {
  background-color: var(--color-dark--1);
}
.workout-delete__field{
  display: none;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 1rem;
  row-gap: 0.5rem;
}
.workout-delete__title{
  grid-column: span 2;
}
.delete-workout__btn,.keep-workout__btn{

  font-family: 'Manrope', sans-serif;
  border: none;
  text-transform: uppercase;
  font-weight: 700;
  background-color: var(--color-dark--1) ;
  color: var(--color-light--2);
  padding: 0.8rem 2rem;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s;
  grid-row:2 ;
}
.delete-workout__btn{
  grid-column: 1;
}
.keep-workout__btn{
  grid-column: 2;
}
.delete-workout__btn:hover{
  background-color: var(--color-red-1);
}
.keep-workout__btn:hover{
  background-color: var(--color-green-1);
}

.workout__title,.workout-delete__title {
  font-size: 1.7rem;
  font-weight: 600;
  grid-column: 1 / 4;
}
.deleting .workout__content{
  display: none;
}
.deleting .workout-delete__field{
  display: grid;
}

.redacting .workout__content{
  display: none;
}
.redacting .workout-redact__field{
  display: grid;
}
.tweaks__buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
}
.tweaks__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  cursor: pointer;
  width: 2.3rem;
  height: 2.3rem;
  border-radius: 4px;
  transition: 0.2s all;
}
.tweaks__btn:hover {
  background-color: var(--color-light--1);
}
.tweaks__btn:active {
  background-color: var(--color-dark--2);
}
.tweaks__icon {
  color: var(--color-light--2);
  font-size: 2.1rem;
}
.workout__details {
  display: flex;
  align-items: baseline;
}

.workout__icon {
  font-size: 1.8rem;
  margin-right: 0.2rem;
  height: 0.28rem;
}

.workout__value {
  font-size: 1.5rem;
  margin-right: 0.5rem;
}

.workout__unit {
  font-size: 1.1rem;
  color: var(--color-light--1);
  text-transform: uppercase;
  font-weight: 800;
}

.form {
  background-color: var(--color-dark--2);
  border-radius: 5px;
  padding: 1.5rem 2.75rem;
  margin-bottom: 1.75rem;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem 2.5rem;

  /* Match height and activity boxes */
  height: 9.25rem;
  transition: all 0.5s, transform 1ms;
}

.form.hidden {
  transform: translateY(-30rem);
  height: 0;
  padding: 0 2.25rem;
  margin-bottom: 0;
  opacity: 0;
}

.form__row {
  display: flex;
  align-items: center;
}

.form__row--hidden {
  display: none;
}

.form__label {
  flex: 0 0 50%;
  font-size: 1.5rem;
  font-weight: 600;
}

.form__input {
  width: 100%;
  padding: 0.3rem 1.1rem;
  font-family: inherit;
  font-size: 1.4rem;
  border: none;
  border-radius: 3px;
  background-color: var(--color-light--3);
  transition: all 0.2s;
}

.form__input:focus {
  outline: none;
  background-color: #fff;
}

.form__btn {
  display: none;
}

.copyright {
  margin-top: auto;
  font-size: 1.3rem;
  text-align: center;
  color: var(--color-light--1);
}

.twitter-link:link,
.twitter-link:visited {
  color: var(--color-light--1);
  transition: all 0.2s;
}

.twitter-link:hover,
.twitter-link:active {
  color: var(--color-light--2);
}

/* MAP */
#map {
  flex: 1;
  height: 100%;
  background-color: var(--color-light--1);
}

/* Popup width is defined in JS using options */
.leaflet-popup .leaflet-popup-content-wrapper {
  background-color: var(--color-dark--1);
  color: var(--color-light--2);
  border-radius: 5px;
  padding-right: 0.6rem;
}

.leaflet-popup .leaflet-popup-content {
  font-size: 1.5rem;
}

.leaflet-popup .leaflet-popup-tip {
  background-color: var(--color-dark--1);
}

.running-popup .leaflet-popup-content-wrapper {
  border-left: 5px solid var(--color-brand--2);
}
.cycling-popup .leaflet-popup-content-wrapper {
  border-left: 5px solid var(--color-brand--1);
}
